
pintos0/.vagrant/machines/default/virtualbox/creator_uid
pintos0/.vagrant/machines/default/virtualbox/action_provision
pintos0/.vagrant/machines/default/virtualbox/action_set_name
pintos0/.vagrant/machines/default/virtualbox/creator_uid
pintos0/.vagrant/machines/default/virtualbox/id
pintos0/.vagrant/machines/default/virtualbox/index_uuid
pintos0/.vagrant/machines/default/virtualbox/private_key
pintos0/.vagrant/machines/default/virtualbox/synced_folders
pintos0/.vagrant/machines/default/virtualbox/vagrant_cwd
